* {
    padding: 0;
    margin: 0;   
}

.slider-container { 
   position: relative; 
   margin: auto;  
   width: min(100vw, 720px);
   aspect-ratio: 3 / 2;
   overflow: hidden;
}

.slider {    
   position: absolute;  
   display: flex;
   transform: translateX(-0%);
   /* translate: -720px; */
} 

.slider > div {
    width: min(100vw, 720px);
    aspect-ratio: 3 / 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-container {
    position: absolute; 
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}